@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-sans);
	--font-mono: var(--font-geist-mono);
	--color-ring: var(--ring);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height, var(--accordion-panel-height, auto));
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height, var(--accordion-panel-height, auto));
		}
		to {
			height: 0;
		}
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* Shadcn Classes */
@custom-variant data-open {
	&:where([data-state="open"]),
	&:where([data-open]:not([data-open="false"])) {
		@slot;
	}
}

@custom-variant data-closed {
	&:where([data-state="closed"]),
	&:where([data-closed]:not([data-closed="false"])) {
		@slot;
	}
}

@custom-variant data-checked {
	&:where([data-state="checked"]),
	&:where([data-checked]:not([data-checked="false"])) {
		@slot;
	}
}

@custom-variant data-unchecked {
	&:where([data-state="unchecked"]),
	&:where([data-unchecked]:not([data-unchecked="false"])) {
		@slot;
	}
}

@custom-variant data-selected {
	&:where([data-selected="true"]) {
		@slot;
	}
}

@custom-variant data-disabled {
	&:where([data-disabled="true"]),
	&:where([data-disabled]:not([data-disabled="false"])) {
		@slot;
	}
}

@custom-variant data-active {
	&:where([data-state="active"]),
	&:where([data-active]:not([data-active="false"])) {
		@slot;
	}
}

@custom-variant data-horizontal {
	&:where([data-orientation="horizontal"]) {
		@slot;
	}
}

@custom-variant data-vertical {
	&:where([data-orientation="vertical"]) {
		@slot;
	}
}

/* Scrollbar Classes */
@theme {
	--scrollbar-thumb-color: var(--color-border);
	--scrollbar-track-color: var(--color-background);
	--scrollbar-gutter-modifier: "";
}

@utility scrollbar-none {
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@utility scrollbar {
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb-color);
	}
	&::-webkit-scrollbar-track {
		background-color: var(--scrollbar-track-color);
	}
}

@utility scrollbar-stable {
	scrollbar-gutter: stable var(--scrollbar-gutter-modifier);
}

@utility scrollbar-both-edges {
	--scrollbar-gutter-modifier: both-edges;
}

@utility scrollbar-thumb-* {
	--scrollbar-thumb-color: --value(--color-*);

	scrollbar-arrow-color: var(--scrollbar-thumb-color);
	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb-color);
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--scrollbar-thumb-color);
	}
	&::-webkit-scrollbar-thumb:active {
		background-color: var(--scrollbar-thumb-color);
	}
}

@utility scrollbar-track-* {
	--scrollbar-track-color: --value(--color-*);

	scrollbar-track-color: var(--scrollbar-track-color);
	scrollbar-darkshadow-color: var(--scrollbar-track-color);
	&::-webkit-scrollbar-track {
		background-color: var(--scrollbar-track-color);
	}
	&::-webkit-scrollbar-track:hover {
		background-color: var(--scrollbar-track-color);
	}
	&::-webkit-scrollbar-track:active {
		background-color: var(--scrollbar-track-color);
	}
}
